# Builds / Tests / Libs
build*
test
test.c
test.d
test.o
*stamp
*.previous
libre.a
libre.dylib
libre.pc
libre.so

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
.fseventsd

# IntelliJ / CLion
.idea/
*.iml
*.iws
*.ipr
